.sun svg {
    position: absolute;
    right:47.5%;
    top:21%;
    width: 100px;
    height: 100px;
  }

  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}